#% desc: Image labels
LABEL "rhcos.version"="{{ OCP_VERSION }}"
LABEL "rhcos.kernel.type"="{{ KERNEL_TYPE }}"
LABEL "com.coreos.osname"=rhcos
LABEL "OCP.version"="{{ OCP_VERSION }}"
{% if ATF_VERSION is defined %}
LABEL "NVIDIA.ATF.version"="{{ ATF_VERSION }}"
{% endif %}
{% if BSP_VERSION is defined %}
LABEL "NVIDIA.BSP.version"="{{ BSP_VERSION }}"
{% endif %}
{% if UEFI_VERSION is defined %}
LABEL "NVIDIA.UEFI.version"="{{ UEFI_VERSION }}"
{% endif %}
LABEL "NVIDIA.DOCA.version"="{{ D_DOCA_VERSION }}"
LABEL "NVIDIA.OFED.version"="{{ D_OFED_VERSION }}"
LABEL "bluefield-ocp.version"="{{ BLUEFIELD_OCP_VERSION | default('') }}"
LABEL "bluefield-ocp.branch"="{{ BLUEFIELD_OCP_BRANCH | default('') }}"
