#% desc: Image labels
LABEL "rhcos.version"="{{ OCP_VERSION }}"
LABEL "rhcos.kernel.type"="{{ KERNEL_TYPE }}"
LABEL "com.coreos.osname"=rhcos
LABEL "OCP.version"="{{ OCP_VERSION }}"
{% if PROBE_VERSIONS | default(false) %}
ARG ATF_VERSION
ARG BSP_VERSION
ARG UEFI_VERSION
LABEL "NVIDIA.ATF.version"="${ATF_VERSION}"
LABEL "NVIDIA.BSP.version"="${BSP_VERSION}"
LABEL "NVIDIA.UEFI.version"="${UEFI_VERSION}"
{% endif %}
LABEL "NVIDIA.DOCA.version"="{{ D_DOCA_VERSION }}"
LABEL "NVIDIA.OFED.version"="{{ D_OFED_VERSION }}"
LABEL "bluefield-ocp.version"="{{ BLUEFIELD_OCP_VERSION | default('') }}"
LABEL "bluefield-ocp.branch"="{{ BLUEFIELD_OCP_BRANCH | default('') }}"

LABEL com.redhat.component="bluefield-ocp-layer-rhel{{ RHEL_MAJOR }}" \
  name="dpu-kit-for-nvidia-operator/bluefield-ocp-layer-rhel{{ RHEL_MAJOR }}" \
  version="{{ version | default('v4') }}" \
  upstream-ref="{{ version | default('v4') }}" \
  upstream-url="https://github.com/rh-ecosystem-edge/bluefield-ocp" \
  url="https://github.com/rh-ecosystem-edge/bluefield-ocp" \
  summary="DPU Kit for NVIDIA Operator - Bluefield OCP Layer" \
  io.k8s.display-name="DPU Kit for NVIDIA Operator - Bluefield OCP Layer" \
  description="DPU Kit for NVIDIA Operator - Bluefield OCP Layer" \
  io.k8s.description="DPU Kit for NVIDIA Operator - Bluefield OCP Layer" \
  distribution-scope="public" \
  release="{{ release | default('22') }}" \
  cpe="cpe:/a:redhat:dpu_kit:4.22::el{{ RHEL_MAJOR }}"
