#% desc: Builder stage: compile OFED and BlueField SoC kernel modules from source
#% requires-args: BUILDER_IMAGE
FROM ${BUILDER_IMAGE} AS builder
{% set doca_sources_url = DOCA_SOURCES_URL | default('https://linux.mellanox.com/public/repo/doca/' + D_DOCA_VERSION + '/SOURCES') %}
{% set ofed_src_archive = D_OFED_SRC_ARCHIVE | default('MLNX_OFED_SRC-' + (D_OFED_SRC_TYPE | default('')) + D_OFED_VERSION + '.tgz') %}

WORKDIR /root
{% if KERNEL_TYPE == '64k' %}

RUN KVER=$(ls /usr/lib/modules | grep 64k | head -n1) && \
  echo "KVER=$KVER" >> /kernelver.env
{% else %}

RUN KVER=$(ls /usr/lib/modules | grep -v 64k | head -n1) && \
  echo "KVER=$KVER" >> /kernelver.env
{% endif %}

RUN dnf install -y automake autoconf libtool perl wget file && dnf clean all

RUN wget --no-check-certificate -O {{ ofed_src_archive }} {{ doca_sources_url }}/mlnx_ofed/{{ ofed_src_archive }}; \
  if [ $? -ne 0 ]; then \
  wget --no-check-certificate -O {{ ofed_src_archive }} {{ doca_sources_url }}/MLNX_OFED/{{ ofed_src_archive }}; \
  fi

RUN if file {{ ofed_src_archive }} | grep compressed; then \
  tar -xzf {{ ofed_src_archive }}; \
  else \
  mv {{ ofed_src_archive }}/MLNX_OFED_SRC-{{ D_OFED_VERSION }} . ; \
  fi

RUN set -x && \
  source /kernelver.env && \
  perl /root/MLNX_OFED_SRC-{{ D_OFED_VERSION }}/install.pl --without-depcheck --distro rhel --kernel ${KVER} --kernel-sources /lib/modules/${KVER}/build \
  --kernel-only --build-only \
  --with-iser --with-srp --with-isert --with-knem --with-xpmem --fwctl \
  --with-mlnx-tools --with-ofed-scripts --copy-ifnames-udev

RUN mkdir -p /build/rpmbuild/{BUILD,RPMS,SOURCES,SPECS,SRPMS}

ENV HOME=/build

WORKDIR /root

RUN SRPMS=("mlxbf-pka" "ipmb-host") && \
  wget -r -np -nd -A rpm -e robots=off "{{ doca_sources_url }}/SoC/" --accept-regex="$(IFS='|'; echo "(${SRPMS[*]/%/.+\.rpm})")"

RUN source /kernelver.env && \
  for package in *.src.rpm; do \
  rpmbuild --rebuild $package --define 'KMP 1' --define "KVERSION $KVER" --define "_sourcedir $(pwd)" --define "debug_package %{nil}" || exit 1; \
  rm -f $package; \
  done

RUN ls /root/MLNX_OFED_SRC-{{ D_OFED_VERSION }}/RPMS/redhat-release-*/aarch64

RUN cd /root/MLNX_OFED_SRC-{{ D_OFED_VERSION }}/RPMS/redhat-release-*/aarch64 && \
  rm -f *-devel*.rpm *-debugsource*.rpm *-debuginfo*.rpm *-source*.rpm && \
  rm -f xpmem-*.rpm knem-*.rpm && \
  mkdir /root/rpms && \
  mv *.rpm /root/rpms && \
  mv /build/rpmbuild/RPMS/aarch64/*.rpm /root/rpms
######################################################################
